<%= render 'info', user:@user %>
<%= render 'books/create', books:@books %>
<!-- ユーザーの投稿一覧 -->

<% @users.each do |user| %>
<div>
  <table>
    <tr>
      <td><%= image_tag user.get_profile_image(100,100) %></td>
      <td><%= link_to user.name, user_path(user.id) %></td>

    </tr>
  </table>

</div>
<% end %>